//
// Dialog
// --------------------------------------------------

@dialog-index: 1000;

.z-dialog-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    will-change: opacity;
    transform: translateZ(0px);
    transition: opacity 400ms;
    z-index: @dialog-index;
    background-color: rgba(0, 0, 0, 0.541176);

    &.offscreen {
        left: -10000px;
        opacity: 0;
    }
}

.z-dialog {
    position: relative;
    width: 66%;
    margin: 0 auto;
    padding: 0 22px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;

    &:focus {
        outline: none;
    }
}

.z-dialog-title {
    padding: 15px 0;
    font-size: @font-size-base + 4;
}

.z-dialog-action-container {
    padding: 15px 0 7px;
    text-align: right;

    > .btn-flat,
    > .btn-float,
    > .btn-outline {
        margin-left: 5px;
        font-weight: 600;
    }
}