//
// Dropdown Menu
// --------------------------------------------------


// The dropdown wrapper (div)
.dropdown {
    position: relative;
}

// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    margin: 4px 0 0;
    min-width: 150px;
    text-align: left;
    background-color: #fff;
    z-index: 1;
    box-shadow: @box-shadow-base;

    // Links within the dropdown menu
    > li > a, > li > span {
        display: block;
        padding: 8px 20px;
        clear: both;
        color: @text-color-light;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
    > li.disabled > a, > li.disabled > span {
        color: @text-color-lighter;
        background-color: #fff;
        cursor: @cursor-disabled;
    }
    .divider {
        height: 0px;
        overflow: hidden;
        border-bottom: 1px solid @border-color-light;
    }
}