//
// Dropdown
// --------------------------------------------------

@dropdown-index: 1001;

.dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 4px 0 0;
    overflow: auto;
    background-color: #fff;
    border: 1px solid @border-color-base;
    box-shadow: @box-shadow-base;
    transition: opacity 240ms, transform 240ms;
    transform-origin: 0% 0%;
    transform: scaleY(1);
    opacity: 1;
    z-index: @dropdown-index;

    &.offscreen {
        left: -10000px;
        opacity: 0;
        transform: scaleY(0.4);
    }
    &:focus {
        outline: none;
    }
}