//
// Forms
// --------------------------------------------------

input {
    background-color: transparent;
}

// Override fieldset styles in Normalize
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

// Override content-box in Normalize
input[type="search"] {
    box-sizing: border-box;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    height: @input-height;
    padding: 0px @input-padding-horizonal;
    font-size: @font-size-base;
    border: 1px solid @border-color-base;
    outline: 0;

    &:focus {
        border-color: darken(@border-color-base, 18%);
        outline: 0;
    }

    &.required {
        border-color: @color-warning;
    }

    &.error {
        border-color: @color-danger;
    }

    &.success {
        border-color: @color-success;
    }

    &.info {
        border-color: @color-info;
    }

    &.warning {
        border-color: @color-warning;
    }

    &[disabled] {
        background-color: #efefef;
        color: @text-color-lighter;
        cursor: @cursor-disabled;
    }
}

textarea {
    height: 92px;
    padding: 8px @input-padding-horizonal;
}

.form-group {
    padding: 0 5px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    .form-label,
    .form-control,
    .form-text {
        display: block;
        width: 100%;
    }

    .form-label {
        margin-bottom: 4px;
    }

    .form-text {
        height: @input-height;
        line-height: @input-height;
    }

    > .btn-float,
    > .btn-flat,
    > .btn-outline {
        margin-right: 6px;
    }

    .validation-error {
        margin-top: 4px;
        color: @color-danger;
    }
}

// forms whose labels and inputs are horizonal aligned
.form-horizonal {
    .form-group {
        .clearfix();
    }

    .form-label {
        height: @input-height;
        line-height: @input-height;
        padding-right: 12px;
        text-align: right;
    }
}