//
// Message
// --------------------------------------------------


@msg-index: 1500;

#msg-layer {
    display: block;
    position: fixed;
    top: 10%;
    right: 7%;
    min-width: 8%;
    text-align: center;
    z-index: @msg-index;
}

.msg {
    width: auto;
    margin-top: 15px;
    padding: 15px 25px;
    border: 1px solid @border-color-base;
    border-radius: 2px;
    background-color: #fff;
    opacity: 1;
    box-shadow: @box-shadow-base;
    transition: opacity 400ms, transform 400ms;
    transform: translateY(0px);
    animation: msg-enter 400ms;
    &.msg-exit {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes msg-enter {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}