//
// Message
// --------------------------------------------------


@msg-index: 1500;

#z-msg-layer {
    position: fixed;
    top: 20px;
    left: 50%;
    max-width: 400px;
    height: 0;
    text-align: center;
    z-index: @msg-index;

    .z-msg {
        display: block;
        position: relative;
        right: 50%;
        width: auto;
        margin-top: 15px;
        padding: 15px 25px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: #fff;
        opacity: 1;
        box-shadow: @box-shadow-base;
        transition: opacity 400ms, transform 400ms;
        transform: translateY(0px);
        animation: z-msg-enter 400ms;

        &.exit {
            opacity: 0;
            transform: translateY(-35px);
        }

        .icon-success,
        .icon-info,
        .icon-warning,
        .icon-error {
            margin-right: 5px;
            font-size: 20px;
            vertical-align: top;
        }

        .icon-success {
            color: @color-success;
        }

        .icon-info {
            color: @color-info;
        }

        .icon-warning {
            color: @color-warning;
        }

        .icon-error {
            color: @color-danger;
        }
    }
}

@keyframes z-msg-enter {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}