//
// Pagination
// --------------------------------------------------

.z-pagination {

    > .page,
    > .page-btn {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        color: @text-color-light;
        cursor: pointer;
        .user-select(none);
    }
    
    > .page {
        margin: 0 2px;

        &:hover {
            color: @primary-color;
        }

        &.active {
            color: #fff;
            border-radius: 4px;
            background-color: @primary-color;
            cursor: default;
        }
    }

    > .page-small {
        width: 26px;
        text-align: center;
    }

    > .page-big {
        padding: 0 4px;
    }

    > .page-btn {
        margin: 0 6px;
        font-size: 16px;
        color: #666;

        &:hover {
            color: #000;
        }

        &.disabled {
            color: #aaa;
            cursor: @cursor-disabled;
        }
    }
}