//
// Pagination
// --------------------------------------------------


.z-pagination {}

.z-page-no,
.z-page-btn {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    color: @text-color-light;
    cursor: pointer;
    .user-select(none);
}

.z-page-no {
    margin: 0 2px;

    &:hover {
        color: @primary-color;
    }

    &.active {
        color: #fff;
        border-radius: 4px;
        background-color: @primary-color;
        cursor: default;
    }
}

.z-page-no-small {
    width: 26px;
    text-align: center;
}

.z-page-no-big {
    padding: 0 4px;
}

.z-page-btn {
    margin: 0 6px;
    font-size: 16px;
    color: #666;

    &:hover {
        color: #000;
    }

    &.disabled {
        color: #aaa;
        cursor: @cursor-disabled;
    }
}