//
// Tabs
// --------------------------------------------------


.z-tabs {
    border-left: 1px solid @border-color-base;
    border-bottom: 1px solid @border-color-base;
    .clearfix();
}

.z-tab {
    float: left;
    position: relative;
    margin-bottom: -1px;
    width: 120px;
    padding: 10px 0;
    border: 1px solid @border-color-base;
    border-left: 0;
    text-align: center;
    color: @text-color-light;
    background-color: #fff;
    cursor: pointer;

    &:hover {
        color: @text-color-base;
    }

    &.active {
        color: @text-color-base;
        border-bottom-color: #fff;
    }

    > .ink-bar {
        position: absolute;
        top: -1px;
        width: 100%;
        height: 2px;
        background-color: @primary-color;
    }
}

.z-tab-content-container {
    border: 1px solid @border-color-base;
    border-top: 0;
}

.z-tab-content {
    display: none;
    padding: 15px;

    &.active {
        display: block;
    }
}